//- Copyright © 2021 Felix Lechner

//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.

//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.

//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

hr

footer
  p.
    Comments about these web pages? Please open a new
    #[a(href='https://salsa.debian.org/lintian/detagtive/-/issues') issue]
    in the
    #[a(href='https://salsa.debian.org/lintian/detagtive') Detagtive]
    repository. For questions about tag performance, please file a
    #[a(href='https://bugs.debian.org/cgi-bin/pkgreport.cgi?repeatmerged=yes&src=lintian') bug]
    with the
    #[a(href='https://tracker.debian.org/pkg/lintian') Lintian] package.
