//- Copyright © 2021 Felix Lechner

//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.

//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.

//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

header
  h1: a(href='/') Lintian Reports
    sub: small BETA

  nav
    ul#nav
      li: a(href='/people') People
      li: a(href='/tags') Tags
      li: a(href='/screens') Screens
      li: a(href='/sources') Packages
      li: a(href='/autoreject') Autoreject
      li: a(href='/messages') Messages
      li: a(href='/query') JSON
      li: a(href='/manual') Manual
      li: a(href='/levels') Levels
