// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Tag'

doctype html
html(lang='en')
  include includes/head.pug

  body
    include includes/navigation.pug

    main
      article
        h1 Autoreject Tags

        p.
          The FTP Masters run Lintian on all incoming uploads for the archive. The
          archive software uses the tags listed in
          #[a(href="https://ftp-master.debian.org/static/lintian.tags") this file]
          to make preliminary decisions.

        section
          if mandatory.length
            p Those #{mandatory.length} tags are never permitted when uploading:
          else
            p No mandatory tags found.

          ul.taglist
            each tag in mandatory
              li
                - var url = '/levels#' + tag.visibility
                a.visibility-symbol.tiny(class=tag.visibility href=url)
                |
                |
                if tag.renamed
                  span #{tag.label} ➔
                  |
                  |
                a(href=tag.url) #{tag.tag_name}

        section
          if overridable.length
            p Those #{overridable.length} tags can be overridden by maintainers but will otherwise lead to rejection:
          else
            p No overridable tags found.

          ul.taglist
            each tag in overridable
              li
                - var url = '/levels#' + tag.visibility
                a.visibility-symbol.tiny(class=tag.visibility href=url)
                |
                |
                if tag.renamed
                  span #{tag.label} ➔
                  |
                  |
                a(href=tag.url) #{tag.tag_name}


    include includes/footer.pug
