// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Reports'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main: article
      section.showcase
        p.
          Lintian is an expert system. It combines the knowledge of
          thousands of contributors to serve you.

        p.
          We provide friendly packaging advice for the benefit of
          maintainers.&trade; Some love it, some hate it&mdash;but
          everyone listens.

        p.
          This web site provides the results for packages in the
          Debian archive. You can also run Lintian locally on your
          own equipment by using the
          #[a(href='https://packages.debian.org/lintian') lintian]
          package.

      section
        p.
          Thanks to all our contributors! You help to make Lintian
          better for everyone.

        p.
          Special credit belongs to the nice folks on #[code #perl-help],
          especially #[code Grinnz] and #[code mst]. Without them, Lintian
          would not be what it is. We also relied on the amazing help
          available on #[code #postgres]. Furthermore, many thanks to the
          great people on #[code #haskell], especially #[code dsal] and
          #[code maerwald]. The hints you see were generated by runners
          that work better because of them. The HTML and CSS you see
          benefitted from the friendly advice of #[code FunkyBob] on
          #[code #css]. Thank you, all!

        p.
          Finally, a huge thanks to the good folks of the
          #[a(href='https://dsa.debian.org/') Debian System Administration] team
          for hosting this next-generation website for Lintian hints on
          their equipment.

      section
        h2 Endorsements
        p
          span.quote.
            &ldquo;I didn’t run Lintian during the test build because it
            didn’t seem like anything could go wrong&rdquo;
          |
          |
          span &mdash;Žigmund Branimír Hronsecký, a pseudonym


    include includes/footer.pug
