// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Visibility Levels'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main
      article
        h1 Visibility Levels

        div
          p You can tell from the symbols on this website how important packaging hints are.
          p This page explains the meanings.
      
        section
          h2(id='error') #[a.visibility-symbol.big.error] Error

        div
          p The displayed message indicates a policy violation or a packaging error.
          p For a policy violations, Lintian usually cite a relevant document.

        section
          h2(id='warning') #[a.visibility-symbol.big.warning] Warning

          div
            p The displayed message is probably a policy violation or a packaging error.
            p Sometimes, these checks produce false positives.

        section
          h2(id='info') #[a.visibility-symbol.big.info] Info

          div
            p The displayed message is probably of interest to the package maintainer.
            p It may not indicate a shortcoming but is often worth investigating.

        section
          h2(id='pedantic') #[a.visibility-symbol.big.pedantic] Pedantic

          div
            p.
              Many people either disagree with these conditions or find them super-picky
              or simply unhelpful.

            p Please expect false positives. It may not be worth to install an override.

        section
          h2(id='experimental') #[a.visibility-symbol.big.experimental] Experimental

          div
            p.
              The condition that generates this messages is either not well-tested, or may
              sometimes produce unexpected results.

            p Feel free to ignore these messages, but bug reports are welcome.

        section
          h2(id='mask') #[a.visibility-symbol.big.mask] Mask

          div
            p Lintian applied a categorical exemption to a class of packages.

            p.
              For more information, please have a look at the #[a(href='/screens') screen]
              that installed the mask.

        section
          h2(id='override') #[a.visibility-symbol.big.override] Override

          div
            p The package maintainer installed an override because Lintian was not helpful.
            p This usually indicates a false positive. You may find a justification nearby.

        section
          h2(id='classification') #[a.visibility-symbol.big.classification] Classification

          div
            p These tags are for research. They are generally not shown to the public.
            p Most people access them via our #[a(href='/query') query interface]. 


    include includes/footer.pug
