// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Program Errors'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main
      article
        h1 Messages

        if runs.length
          p.
            Lintian produced output on #[code stderr] for the following sources.
            Some of them may be from older Lintian versions.
        else
          p.
            Great job! There were no program errors in any runs with Lintian.

      section
        ul
          each run in runs
            li
              a(href=run.url) #{run.label}
              |
              |
              span.run-details.
                (Lintian version #{run.lintian_version},
                started #{run.start_locale_string},
                #{run.duration}, #{run.release}, #{run.port})

              div.terminal
                each line in run.messages
                  p.terminal #{line}


    include includes/footer.pug
