// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Reports by Individual or Team'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main
      article
        h1 Queries

        p.
          For scripting, you can query our database with URLs similar to the ones
          below. There is no limit on data returned, but you may grow
          tired of waiting. Please play around and write if you require something
          not mentioned on this page.

        section
          h2 Runs

          p Please try this to find all Lintian runs for a particular source:

          - var sample_url='https://lintian.debian.net/query/runs?source=perlindex'
          p Sample URL: #[a.sample(href=sample_url) #{sample_url}]

        section
          h2 Releases

          p.
            This may help you to correlate a particular source version
            with Debian's release patterns. The information comes from
            #[a(href='https://ftp-team.pages.debian.net/dak/epydoc/dakweb-module.html') DAKweb],
            which may be more up to date.

          p.
            To add some value over better sources for similar data,
            releases show up here only when a Lintian run is available.

          - var sample_url='https://lintian.debian.net/query/releases?source=autossh'
          p Sample URL: #[a.sample(href=sample_url) #{sample_url}]

        section
          h2 Hints

          p.
            The following returns all packaging hints for the named
            source. It includes many classification tags you do not
            see in the web interface.

          - var sample_url='https://lintian.debian.net/query/hints?source=procserv&version=2.7.0-1'
          p Sample URL: #[a.sample(href=sample_url) #{sample_url}]

        section
          h2 Contexts

          p.
            This shows you all sources affected by a particular tag.

          - var sample_url='https://lintian.debian.net/query/contexts?tag=node-package-install-in-nodejs-rootdir'
          p Sample URL: #[a.sample(href=sample_url) #{sample_url}]

        section
          h2 QA Counts

          p.
            This query is intended to replace, for each source, the #[code qa-list.txt]
            of old. Having a live database that changes continually makes it much
            harder, and computationally a lot costlier, to provide a static list
            that covers all sources. We hope that this live query is an acceptable
            replacement.

          - var sample_url='https://lintian.debian.net/query/quality-count/gridsite'
          p Sample URL: #[a.sample(href=sample_url) #{sample_url}]


    include includes/footer.pug
