// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Screens'

doctype html
html(lang='en')
  include includes/head.pug

  body
    include includes/navigation.pug

    main
      article
        h1 Screens

        p.
          These screens are a centralized facility in Lintian with which exemptions
          are granted to groups of packages.

        p.
          They are intended for situations entirely outside of a distributor's
          control.

        section
          if screens.length
            p Here the #{screens.length} screens we know about. Some may be historical.
          else
            p No screens found.

          ul.screenlist
            each screen in screens
              li
                - var url = '/levels#' + screen.visibility
                a.visibility-symbol.tiny(class=screen.visibility href=url)
                |
                |
                span #[a(href=screen.screen_url) #{screen.screen}] — (masks #[a(href=screen.tag_url) #{screen.tag_name}])
              if screen.old
                |
                |
                span: em /dropped/


    include includes/footer.pug
