// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Screens'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main

      article.version
        if screens.length > 1

          nav.version-selector
            h3 Screen versions

            ul
              each screen in screens
                li
                  - var url = '/levels#' + screen.visibility
                  a.visibility-symbol.tiny(class=screen.visibility href=url)
                  |
                  |
                  if screen.highlight
                    span.highlight #{screen.label}
                  else
                    a(href=screen.url) #{screen.label}

        section.version-description
          h1
            if selected
              - var url = '/levels#' + selected.visibility
              a.visibility-symbol.big(class=selected.visibility href=url)
            span #{name}

          if ! screens.length
            p Cannot find that screen in any Lintian version we know about.

          if selected

            section.explanation(class=selected.visibility) !{selected.reason_html}
              p !{selected.see_also_statement}

            section.auxiliary
              p This screen masks the tag #[a(href=selected.tag_url) #{selected.tag_name}].

              if deleted
                p.
                  The screen was renamed or removed. We could not find it in Lintian
                  version #[code #{latest_lintian}].
                  That is the most recent version we know about.
              else
                p.
                  The screen is present in Lintian version #[code #{latest_lintian}].
                  That is the most recent version we know about.

                p.
                  The patch number is a commit step indicator relative to the
                  #[a(href=selected.release_tag_url) #[code #{selected.release_tag}]]
                  release tag in our Git
                  #[a(href='https://salsa.debian.org/lintian/lintian') repository].

                p.
                  You can find the masking logic for this version at commit
                  #[a(href=selected.commit_url) #{selected.short_commit}].
                  For merge requests, please use the latest version in the Lintian screen
                  #[a(href=selected.screen_url) #{selected.screen}].

      article#hints

        if !sources.length
          p Found no packages in the archive that triggered the screen.
        else
          p.
            The screen masked #{hint_count} hints in #{sources.length} source packages.

          if override_count
            p.
              We also found #{override_count} overrides. They can be removed.
          else
            p There were no overrides.

        ul
          each s in sources
            li: a(href=s.url) #{s.name}

            ul.filelist
              each input in s.inputs

                li.fileitem #{input.basename} (#[span.liberty(class=input.liberty) #{input.liberty}])

                  ul.hintlist
                    each hint in input.hints

                      li.hintitem

                        ul.commentlist
                          if hint.override_justification
                            li.commentitem: span.comment.tiny # #{hint.override_justification}
                          if hint.excuse
                            li.commentitem: span.comment.tiny # #{hint.excuse}

                        if hint.note || hint.pointer
                          - var url = '/levels#' + hint.visibility
                          a.visibility-symbol.tiny(class=hint.visibility href=url)
                          |
                          |
                          span.context.tiny #{hint.note}

                          if hint.pointer.length
                            |
                            |
                            if hint.pointer_url.length
                              span.context.tiny [#[a(href=hint.pointer_url) #{hint.pointer}]]
                            else
                              span.context.tiny [#{hint.pointer}]


    include includes/footer.pug
