// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Reports by Individual or Team'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main

      article.version
        if tags.length > 1
          nav.version-selector
            h3 Tag versions

            ul
              each t in tags
                li
                  - var url = '/levels#' + t.visibility
                  a.visibility-symbol.tiny(class=t.visibility href=url)
                  |
                  |
                  if t.highlight
                    span.highlight #{t.label}
                  else
                    a(href=t.url) #{t.label}

        section.version-description
          h1
            if selected
              - var url = '/levels#' + selected.visibility
              a.visibility-symbol.big(class=selected.visibility href=url)
            |
            |
            span #{name}

          if ! tags.length
            p Cannot find that tag in any Lintian version we know about.

          if selected

            section.explanation(class=selected.visibility) !{selected.explanation_html}

              if selected.see_also_html.length
                p For more information please consult:
                ul.see-also
                  each see_also in selected.see_also_html
                    li !{see_also}

            section.auxiliary
              if deleted
                p.
                  The tag was renamed or removed. We could not find it in Lintian
                  version #[code #{latest_lintian}].
                  That is the most recent version we know about.
              else
                p.
                  The tag is present in Lintian version #[code #{latest_lintian}].
                  That is the most recent version we know about.

                p.
                  The patch number is a commit step indicator relative to the
                  #[a(href=selected.release_tag_url) #[code #{selected.release_tag}]]
                  release tag in our Git
                  #[a(href='https://salsa.debian.org/lintian/lintian') repository].

                p.
                  You can find the detection logic for this version at commit
                  #[a(href=selected.commit_url) #{selected.short_commit}].
                  For merge requests, please use the latest version in the Lintian check
                  #[a(href=selected.check_url) #{selected.check}].

              if selected.show_always
                p This tag cannot be masked or overridden.

              if selected.experimental
                p This tag is experimental.

              if selected.visibility == 'classification'
                p This is a classification. There is no issue with your package.

              p #[span.label Visibility:] #{selected.visibility}

              if selected.renamed_from.length
                div
                  span.label Renamed from:

                  ul.minor
                    each previous_name in selected.renamed_from
                      li #{previous_name}

              if selected.screens.length
                p #[span.label Exemptions:]
                ul
                  each screen in selected.screens
                    li: a(href=screen.url) #{screen.screen}

      article#hints

        if !sources.length
          if selected.visibility == 'classification'
            p Classification tags produce too many occurrences to list here. 
          else
            p Found no packages in the archive that triggered the tag.
        else
          p.
            The following #{sources.length} source packages in the archive
            triggered the tag #{hint_count} times (in any Lintian version).

          if mask_count
            p.
              The tag was masked #{mask_count} times through screens.

          if override_count
            p.
              We found #{override_count} overrides. The tag performed
              #{performance_percentage}% of the time.
          else
            p There were no overrides.

        ul
          each s in sources
            li: a(href=s.url) #{s.name}

            ul.hintlist
              each hint in s.hints
                li.hintitem

                  ul.commentlist
                    if hint.override_justification
                      li.commentitem: span.comment.tiny # #{hint.override_justification}
                    if hint.screen
                      li.commentitem: span.comment.tiny # masked by screen #[a(href=hint.screen_url) #{hint.screen}]
                    if hint.excuse
                      li.commentitem: span.comment.tiny # #{hint.excuse}

                  if hint.note || hint.pointer
                    - var url = '/levels#' + hint.visibility
                    a.visibility-symbol.tiny(class=hint.visibility href=url)
                    |
                    |
                    span.context.tiny #{hint.note}

                    if hint.pointer.length
                      |
                      |
                      if hint.pointer_url.length
                        span.context.tiny [#[a(href=hint.pointer_url) #{hint.pointer}]]
                      else
                        span.context.tiny [#{hint.pointer}]


    include includes/footer.pug
