// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Hints for People'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main
      article
        h1 Hints

        h2 #{name}

        if emails.length
          p We have the following e-mail addresses on file:
        else
          p Found no e-mail addresses.

        ul
          each email in emails
            li= email.address

      article#hints
        if sources.length
          p.
            Found #{hint_count} issues in #{sources.length} maintained sources.
            To see all packaging hints, please click on the source. 
        else
          p Good job! Found no major issues in your sources.
      
        ul.sourcelist
          each s in sources
            li: a(href=s.url) #{s.name} #{s.version}

            ul.filelist
              each input in s.inputs

                li.fileitem #{input.basename} (#[span.liberty(class=input.liberty) #{input.liberty}])

                  ul.hintlist
                    each hint in input.hints

                      li.hintitem

                        - var url = '/levels#' + hint.visibility
                        a.visibility-symbol.tiny(class=hint.visibility href=url)
                        |
                        |
                        span.hint.tiny: a(href=hint.url) #{hint.tag_name}
                        |
                        |
                        span.context.tiny #{hint.note}

                        if hint.pointer.length
                          |
                          |
                          if hint.pointer_url.length
                            span.context.tiny [#[a(href=hint.pointer_url) #{hint.pointer}]]
                          else
                            span.context.tiny [#{hint.pointer}]


    include includes/footer.pug
