// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Runs for Package Sources'

doctype html
html(lang='en')

  include includes/head.pug

  body
    include includes/navigation.pug

    main

      article.version
        if sources.length > 0
          nav.version-selector
            h3 Source versions

            ul
              each s in sources

                li
                  if s.highlight
                    span.highlight #{s.label}
                  else
                    a(href=s.url) #{s.label}
                  |
                  |
                  if s.releases.length
                    - var releaselist = s.releases.join(', ')
                    span.release-list (#{releaselist})

        if runs.length > 1

          nav.version-selector
            h3 Lintian runs

            ul
              each run in runs

                li
                  if run.highlight
                    span.highlight #{run.label}
                  else
                    a(href=run.url) #{run.label}

        section.version-description
          h1 Hints

          h2 #{source_name} #{source_version} (#[span.liberty(class=source_liberty) #{source_liberty}])
            span.maintenance_links
              each l in maintenance_links
                |
                |
                span [#[a(href=l.url) #{l.label}]]

          if ! sources.length
            p Found no source versions.

          if ! runs.length
            p Found no runs for version #[code #{source_version}].


          if selected
            p.
              The run started on #{selected.start_locale_string}
              and took #{selected.duration}.
              The installation packages came from the #[code #{selected.release}]
              distribution for the #[code #{selected.port}] port.

            p.
              Your hints from Lintian version #[code #{selected.lintian_version}]
              are below.
              The patch number is a commit step indicator relative to the
              #[a(href=selected.release_tag_url) #[code #{selected.release_tag}]]
              release tag in our Git
              #[a(href='https://salsa.debian.org/lintian/lintian') repository].
              You can find the Lintian sources used for this run at commit
              #[a(href=selected.commit_url) #{selected.short_commit}].

            p We used the following command-line options:

            p.terminal #{selected.invocation_options}

            p The exit status was #{selected.exit_status}.

          if selected
            section
              if selected.messages.length
                p Whoops, there were program errors.

                div.terminal
                  each line in selected.messages
                    p.terminal #{line}

      if selected
        article#hints

          ul.filelist
            each input in selected.inputs

              li.fileitem #{input.basename} (#[span.liberty(class=input.liberty) #{input.liberty}])

                ul.hintlist
                  each hint in input.hints

                    li.hintitem

                      ul.commentlist
                        if hint.override_justification
                          li.commentitem: span.comment.tiny # #{hint.override_justification}
                        if hint.screen
                          li.commentitem
                            span.comment.tiny # masked by screen #[a(href=hint.screen_url) #{hint.screen}]
                        if hint.excuse
                          li.commentitem: span.comment.tiny # #{hint.excuse}

                      - var url = '/levels#' + hint.visibility
                      a.visibility-symbol.tiny(class=hint.visibility href=url)
                      |
                      |
                      span.hint.tiny: a(href=hint.url) #{hint.tag_name}
                      |
                      |
                      span.context.tiny #{hint.note}

                      if hint.pointer.length
                        |
                        |
                        if hint.pointer_url.length
                          span.context.tiny [#[a(href=hint.pointer_url) #{hint.pointer}]]
                        else
                          span.context.tiny [#{hint.pointer}]

                  else
                    li Good job! No hints found.

            else
              li Found no input files matching the criteria.


    include includes/footer.pug
