// Copyright © 2021 Felix Lechner

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.

- var title = 'Lintian Tag'

doctype html
html(lang='en')
  include includes/head.pug

  body
    include includes/navigation.pug

    main
      article
        h1 Tags

        if tags.length
          p Here are the #{tags.length} tags we know about. Some may be historical.
        else
          p No tags found.

        section
          ul.taglist
            each tag in tags
              li
                - var url = '/levels#' + tag.visibility
                a.visibility-symbol.tiny(class=tag.visibility href=url)
                |
                |
                if tag.renamed
                  span #{tag.label} ➔
                  |
                  |
                a(href=tag.url) #{tag.tag_name}

                if tag.old
                  |
                  |
                  span /superseded/


    include includes/footer.pug
